@media (max-width: 1650px) {
  .header__img {
    width: 0;
  }
}

@media (max-width: 1540px) {
  .smart {
    background-image: none;
    background: linear-gradient(281.7deg, #302c34 11.23%, #59555d 42.92%, #4a474f 52.23%, #232224 94.08%);
  }
}
@media (max-width: 1440px) {
  .buy {
    background-image: none;
    background: linear-gradient(281.7deg, #302c34 11.23%, #59555d 42.92%, #4a474f 52.23%, #232224 94.08%);
  }
}

@media (max-width: 1225px) {
  .contact__form-circle {
    width: 0;
  }
}

@media (max-width: 1199px) {
}
@media (max-width: 1177px) {
  .smart__img {
    width: 0;
  }
  .buy__box-img {
    width: 0;
  }
  .header__content {
    padding-bottom: 80px;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .workflow__inner {
    max-width: 100%;
  }
  .works__block {
    width: 100%;
    height: 350px;
  }
  .navbar-nav {
    justify-content: center;
    align-items: center;
  }
  .menu__item {
    margin-right: 0px;
    padding: 15px;
  }
  .menu__item-btn {
    margin: 15px;
  }
  .menu__item a {
    font-size: 20px;
  }
  .footer .menu__item {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .workflow__box-map {
    text-align: center;
  }
  .workflow__point {
    top: -10px;
    left: 210px;
  }
  .works__block {
    margin: 0 auto;
  }
  .works__inner {
    margin-top: 30px;
  }
  .works__circle {
    display: none;
  }
  .header__content .header__title .header__title-bg {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .no-padding {
    padding-right: 15px;
    padding-left: 15px;
  }
  .buy__item-text {
    padding-left: 30px;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (max-width: 540px) {
  .header__content {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .header__content .header__title .header__title-bg {
    font-size: 34px;
  }

  .header__content .header__title {
    line-height: 50px;
    font-size: 34px;
  }
  .header__content .header__title-bg {
    display: inline-block;
  }
  .header__content .header__text {
    font-size: 15px;
    line-height: 29px;
  }

  .workflow__point,
  .workflow__cartons-circle,
  .workflow__map-circle {
    display: none;
  }
  .workflow__box-map {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .smart {
    height: 100%;
  }
}
@media (max-width: 510px) {
  .smart {
    text-align: center;
  }
  .smart__title {
    margin-top: 25px;
  }
  .start__box {
    width: 100%;
    height: auto;
  }
  .start__box-title {
    padding-top: 10px;
  }
  .start__box-descr {
    padding-top: 5px;
  }
  .start__box {
    margin-top: 15px;
  }
  .buy__item {
    margin-bottom: 15px;
  }
  .buy__item-text {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 475px) {
  .contact__wrapp {
    flex-direction: column;
  }
  .contact__tip {
    margin-top: 30px;
  }
  .form-control,
  textarea.form-control {
    height: 40px;
  }
  .start,
  .workflow,
  .smart,
  .works,
  .contact {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 465px) {
  .header__content .header__title .header__title-bg {
    text-align: center;
  }
  .header__content .header__title,
  .header__content .header__text {
    text-align: center;
  }
  .header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header__content .header__btn {
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
  .header__content .header__btn_blue {
    margin-right: 0;
  }
  .workflow__box-img,
  .workflow__box-map {
    img {
      width: 100%;
    }
  }
  .contact__btn {
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 360px) {
  .header__box {
    flex-direction: column;
    align-items: center;
  }
  .header__content .header__btn_blue {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .header__info {
    text-align: center;
  }
}
